* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.microsoft-menu {
  width: 90%;
  margin: 0 auto;
}

.logo-style {
  width: 108px;
}

.search-icon-left {
  width: 108px;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.carousel-item {
  position: relative;
}

.carousel-caption {
  position: absolute;
  top: 5%;
  left: 5% !important;
  z-index: 1;
}

.carousel-caption h3 {
  text-align: left;
  color: black;
}
.carousel-caption p {
  text-align: left;
  color: black;
}

.carousel-caption button {
  color: white;
  background: black;
  font-size: 15px;
  padding: 10px 20px;
  border: none;
  position: absolute;
  left: 0;
}

main {
  margin: 40px 0;
}
.card-body {
  padding: 5px 0 !important;
}

.card {
  border: none !important;
}

.banner {
  width: 100%;
  height: 450px;
  background-image: url(../images/micro7.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 20px 0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 70px;
}

button {
  color: black;
  background: white;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
}

.banner2 {
  width: 100%;
  height: 450px;
  background-image: url(../images/micro12.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 20px 0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 70px;
}

.bottom-card {
  margin: 50px 0;
}

.social-media-section {
  margin-bottom: 40px;
}

.fa-youtube {
  color: red;
}

footer {
  background: #f2f2f2;
  padding: 40px 0;
}

footer li {
  list-style: none;
}

footer a {
  text-decoration: none;
  color: #818181;
}

.footer-btm-credits {
  display: flex;
  justify-content: space-between;
}